@model SGPI.Models.TblUsuario
@{
    ViewData["Title"] = "CrearUsuario";
    Layout = "_LayoutSGPI";
}


<div class="container">
    <center>

        <nav class="navbar navbar-expand-sm bg-success navbar-light">
            <b>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/Administrador/CrearUsuario">CREAR USUARIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Administrador/BuscarUsuario">BUSCAR USUARIO</a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Administrador/EliminarUsuario">ELIMINAR USUARIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Administrador/EditarUsuario">MODIFICAR USUARIO</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Administrador/Reporte">REPORTE</a>
                    </li>

                </ul>
            </b>
        </nav>
    </center>

    <div style="text-align:right">
        <a href="/Administrador/login" id="regresar">Cerrar sesion</a>
    </div>
    <br>
    <br>
    <div class="container">
        <form method="post">
            <div class="row">
                <div class="col">
                    <b> <label for="Tipo Cedula">Tipo Cedula</label> </b>
                    @Html.DropDownList("Iddoc", new SelectList(ViewBag.TblTipoDocumento, "Iddoc","TipoDocumento"),
                    new{@class="form-control dropdown"})

                </div>
            </div>
            <br />

            <div class="row">

                <div class="col">
                    <input asp-for="NumeroDocumento" type="text" class="form-control" id="Document" placeholder="DOCUMENTO">
                </div>

                <div class="col">
                    <input asp-for="PrimerNombre" type="text" class="form-control" id="PRIMER_NOMBRE" placeholder="PRIMER NOMBRE">
                </div>

                <div class="col">
                    <input asp-for="SegundoNombre" type="text" class="form-control" id="Segundo_Nombre" placeholder="SEGUNDO NOMBRE">
                </div>
            </div>
            <br />
            <br />



            <div class="row">
                <div class="col">
                    <input asp-for="PrimerApellido" type="text" class="form-control" id="Primer_Apellido" placeholder="PRIMER APELLIDO">
                </div>
                <div class="col">
                    <input asp-for="SegundoApellido" type="text" class="form-control" id="SEGUNDO_APELLIDO" placeholder="SEGUNDO APELLIDO">
                </div>
                <div class="col">
                    <input asp-for="Email" type="text" class="form-control" id="email" placeholder="CORREO ELECTRONICO">
                </div>

            </div>

            <br />
            <br />
            <br />
            <br />
            <div class="container">
                <div class="row">

                    <div class="col">
                        <b> <label for="Genero">Genero</label> </b>
                        @Html.DropDownList("Idgenero", new SelectList(ViewBag.TblGenero, "Idgenero","Genero"),
                        new{@class="form-control dropdown"})


                    </div>


                    <div class="col">
                        <b> <label for="Rol">Rol</label></b>
                        @Html.DropDownList("IdRol", new SelectList(ViewBag.tblRol, "Idrol","Rol"),
                        new{@class="form-control dropdown"})

                    </div>


                    <div class="col">
                        <b> <label for="Programa">Programa</label> </b>
                        @Html.DropDownList("Idprograma", new SelectList(ViewBag.TblPrograma, "Idprograma","Programa"),
                        new{@class="form-control dropdown"})

                    </div>
                </div>

                 <br >
                <br >
            </div>

            
            <br />
            <br />
            <br />

            <label for="password">Contraseña</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-lock add-on"></i></div>
                <input asp-for="VcPassword" type="password" class="form-control" id="password" placeholder="Contraseña" required />
            </div>


            <br />

            @if (ViewBag.mensaje != null)
            {
                <br />
                <h1>@ViewBag.mensaje</h1>

            }
            <center> <input type="submit" id="btnCrear_Usuario" value="CREAR USUARIO" class="btn btn-success" /></center>

        </form>
    </div>
</div>